---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FabTop from "../components/FabTop.astro";
import Form from "../components/Form.astro";

const projects = (await getCollection('proyectos')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 ">
  <div class="bg-grid bg-white dark:bg-gray-900  max-w-screen-xl mx-auto border  border-gray-200 dark:border-gray-800 relative">
    <Header title={SITE_TITLE} />
    <FabTop/>
    <div class="flare pulsate-bck"></div>
    <main class="max-w-screen-lg mx-auto">
      <section class="relative mt-16 px-6">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 


    <lottie-player src="https://lottie.host/00fa0de4-fd1e-4659-a703-ccde2985c638/aXUdaJRt1O.json" background="transparent" speed="1" style="width: 100%;" loop autoplay></lottie-player>
          </div>
          <div class="lg:order-first lg:row-span-2 lg:mt-32">
            <h1 class="text-6xl font-bold tracking-tight dark:text-white">
              Gustavo Avila
            </h1>
            <div class="mt-2 text-base leading-8 text-gray-600 dark:text-white">
              <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-200">
                 Diseñador UX/UI y Desarrollador Frontend
              </p>
         
            <a href="https://drive.google.com/file/d/1BTQDU4dJhR8Ny2_GVVyHYAVeucRjaSaG/view?usp=sharing"
            target="_blank" type="button" class="transition-all duration-75 delay-0 ease-in-out text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Curriculum</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <section class="max-w-screen-lg mx-auto mb-16 grid grid-cols-1 md:grid-cols-2  gap-10 place-items-center mt-12 ">

      {
        projects.map((project) => (
        <div>
        <div
        class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href={`/proyectos/${project.slug}/`}>
          <img class="rounded-t-lg" src={project.data.heroImage} alt={project.data.title} />
        </a>
        <div class="p-5">
            {
              project.data.category == 'Frontend' 
              ?  <span class="bg-tiber-100 text-tiber-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-tiber-400 mb-2">
                  <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4 1 8l4 4m10-8 4 4-4 4M11 1 9 15"/>
                  </svg>
                  {project.data.category}
              </span>

              :  <span class="bg-spring-green-100 text-spring-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-spring-green-400 mb-2">
                  <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                      <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                  </svg>
                  {project.data.category}
              </span>
            }
    
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              {project.data.title}
          </h5>
          <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">
              {project.data.description}
          </p>
     
          <a 
          href={project.data.url}
          target="_blank"
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 via-green-500 to-green-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 hover:shadow-lg hover:shadow-green-500/50 transition-all duration-75 delay-0 ease-in-out">
            <span class="inline-flex items-center relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-800 rounded-md group-hover:bg-opacity-0">
                Ver demo
            </span>
          </a>

          <a 
          href={`/proyectos/${project.slug}/`}
          class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 via-green-500 to-green-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 hover:shadow-lg hover:shadow-green-500/50 transition-all duration-75 delay-0 ease-in-out">
            <span class="inline-flex items-center relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-800 rounded-md group-hover:bg-opacity-0">
                Ver más
            </span>
          </a>
          
        </div>
        </div>
      </div>
        ))
      }

   
     



    </section>

    <br>
		<hr class="dark:border-gray-800">
    <section class="max-w-screen-lg mx-auto relative mt-16 px-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="lg:order-first lg:row-span-2 lg:mt-32">
          <h2 class="text-5xl font-bold tracking-tight dark:text-white">
            Contáctame
          </h2>
          <div class="mt-2 text-base leading-8 text-gray-600 dark:text-white">
            <p class="mb-4 leading-normal">
              Si has llegado hasta aquí, me encantaría que me envíaras un mensaje con tu propuesta o idea.
            </p>
          </div>
        </div>
        <div>
          <Form/>
        </div>
       
      </div>
    </section>
    

    
  

    <Footer />
  </div>
  </body>
</html>
