---
import Button from '../components/Button.astro';

const {project} = Astro.props;
---
<div class="card z-10">
    <div
      class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 overflow-hidden"
    >
    <a  href={project.data.url}>
    <div class="relative group">
        <img
          src={project.data.heroImage} alt={project.data.title}
          class="w-full rounded shadow-xl" />
        <div
          class="flex justify-center items-center opacity-0 bg-gradient-to-b from-tiber-900 to-gray-900 group-hover:opacity-70 absolute top-0 left-0 h-full w-full">
        </div>
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100 duration-300 ease-in-out ">
          <div class="flex-row text-center">
            <svg class="w-6 h-6 text-gray-50" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 14">
              <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M10 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                <path d="M10 13c4.97 0 9-2.686 9-6s-4.03-6-9-6-9 2.686-9 6 4.03 6 9 6Z"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
  </a>
  <div class="p-5 bg-white dark:bg-shark-900">


      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-700 dark:text-white"
      >
        {project.data.title}
    </h5>
    <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">
        {project.data.description}
    </p>

    <div class="flex gap-4">
        <Button url={project.data.url} text='Ver demo'/>
    </div>

  </div>
  </div>
  </div>